# Livestock Mortality Index

This notebook will attempt to replicate and expand on a model to forecast the risk of livestock mortality in aimags (provinces) of Mongolia. The index is based on work completed by the People in Need NGO and the English report is available in this repository.

## Data import

The data used in the model is stored in a PDF file as tables. These tables were copied into an Excel spreadsheet and several cleaning and transformation steps took place. The original data copied from the PDF report is in **data/DATASET for MVDI report.xlsx** and the cleaned data is stored at **data/MVDI Tables Cleaned.xlsx**.

In [24]:
#Import required libraries
import pandas as pd

import matplotlib.pyplot as plt
%matplotlib inline
plt.style.use('/storage/mds.mplstyle')

from sklearn.metrics import confusion_matrix

In [25]:
xls = pd.ExcelFile('data/MVDI Tables Cleaned.xlsx')

In [26]:
sheets = xls.sheet_names
sheets

['temp',
 'loss',
 'index',
 'pasture_anomaly',
 'pasture',
 'biomass_anomaly',
 'biomass',
 'zootechnical',
 'mortality',
 'fecundity',
 'snowfall_anomaly']

In [27]:
temp = xls.parse('temp')
loss = xls.parse('loss')
index = xls.parse('index')
pasture_anomaly = xls.parse('pasture_anomaly')
pasture = xls.parse('pasture')
biomass_anomaly = xls.parse('biomass_anomaly')
biomass = xls.parse('biomass')
zootechnical = xls.parse('zootechnical')
mortality = xls.parse('mortality')
fecundity = xls.parse('fecundity')
snowfall_anomaly = xls.parse('snowfall_anomaly')

In [28]:
dfs = [temp,loss, index, pasture_anomaly, pasture, biomass_anomaly, biomass, zootechnical, mortality,fecundity,snowfall_anomaly]

In [29]:
from functools import reduce
df = reduce(lambda  left,right: pd.merge(left,right,on=['Aimag','Year'], how='inner'), dfs)

In [30]:
df['Aimag'].unique()

array(['Arkhangai', 'Bayankhongor', 'Bayan‚ÄêUlgii', 'Bulgan', 'Dornod',
       'Dornogovi', 'Dundgovi', 'Govisumber', 'Khentii', 'Khovd',
       'Khuvsgul', 'Orkhon', 'Selenge', 'Sukhbaatar', 'Tuv', 'Ulaanbaatar',
       'Umnugovi', 'Uvs', 'Uvurkhangai', 'Zavkhan'], dtype=object)

In [31]:
df.head()

,Aimag,Year,Temprature anomalies,Livestock Loss Rates from - 1998-2017,Past values of the vulnerability index according to Aimag - 1: Average weighed by livestock numbers in SFU,Pasture Use Anomaly,Pasture Use,Standing forage biomass anomaly,Standing forage biomass (tons),Zootechnical score,Mortality score,Fecundity score,Snowfall anomalies
0,Arkhangai,1999,2.75,0.01,1.69,0.04,0.11,0.05,2.96E+ 07,0,0,0,-3.80
1,Arkhangai,2000,-0.39,0.06,1.94,0.18,0.12,-0.13,2.44E+ 07,0,0,0,4.57
2,Arkhangai,2001,-1.62,0.24,2.63,-0.02,0.10,-0.22,2.20E+ 07,2,1,1,8.10
3,Arkhangai,2002,0.86,0.04,2.81,0.63,0.17,-0.57,1.22E+ 07,0,0,0,5.44
4,Arkhangai,2003,-0.10,0.07,1.15,-0.25,0.08,-0.07,2.61E+ 07,0,0,0,9.70

## Data Cleaning

Now that we have all of our features in one dataframe we can start cleaning the dataset so it is in a better format. 

To do:
- Rename features to be more simple and allow for easier reference
- Standing forage biomass was stored in the original report as scientific notation. This is now stored as text. 
-

### Rename Columns

In [32]:
df.columns

Index(['Aimag', 'Year', 'Temprature anomalies',
       'Livestock Loss Rates from - 1998-2017',
       'Past values of the vulnerability index according to Aimag - 1: Average weighed by livestock numbers in SFU',
       'Pasture Use Anomaly', 'Pasture Use', 'Standing forage biomass anomaly',
       'Standing forage biomass (tons)', 'Zootechnical score',
       'Mortality score', 'Fecundity score', 'Snowfall anomalies'],
      dtype='object')

In [33]:
df.rename(index=str,columns={'Aimag':'aimag', 'Year':'year', 'Temprature anomalies':'temperature_anomaly',
       'Livestock Loss Rates from - 1998-2017':'livestock_loss',
       'Past values of the vulnerability index according to Aimag - 1: Average weighed by livestock numbers in SFU':'index',
       'Pasture Use Anomaly':'pasture_use_anomaly', 'Pasture Use':'pasture_use', 'Standing forage biomass anomaly':'biomass_anomaly',
       'Standing forage biomass (tons)':'biomass', 'Zootechnical score':'zootechnical',
       'Mortality score':'mortality', 'Fecundity score':'fecundity', 'Snowfall anomalies':'snowfall_anomaly'},inplace=True)

### Convert biomass to numeric feature

The biomass feature is stored in the format '2.96E+ 07' (scientific notation). We do not have access to the complete number, so we will concatenate the number and take the left three characters.

In [34]:
df['biomass'] = df['biomass'].str[:4]

In [35]:
df['biomass'] = pd.to_numeric(df['biomass'])

In [36]:
df.head()

,aimag,year,temperature_anomaly,livestock_loss,index,pasture_use_anomaly,pasture_use,biomass_anomaly,biomass,zootechnical,mortality,fecundity,snowfall_anomaly
0,Arkhangai,1999,2.75,0.01,1.69,0.04,0.11,0.05,2.96,0,0,0,-3.80
1,Arkhangai,2000,-0.39,0.06,1.94,0.18,0.12,-0.13,2.44,0,0,0,4.57
2,Arkhangai,2001,-1.62,0.24,2.63,-0.02,0.10,-0.22,2.20,2,1,1,8.10
3,Arkhangai,2002,0.86,0.04,2.81,0.63,0.17,-0.57,1.22,0,0,0,5.44
4,Arkhangai,2003,-0.10,0.07,1.15,-0.25,0.08,-0.07,2.61,0,0,0,9.70

## Confusion Matrix

As the MVDI research paper gives us mortality and the output risk scores, we can create an independent accuracy assessment. In addition, we can use the papers own classification methodology to create a confusion matrix that will allow us to assess false positives and negatives.

The classification methodology creates bins for the risk scores that correspond to a range of mortality. It is as follows:

Index value Mean mortality
- 0‚Äê1     1%
- 1‚Äê2     3%
- 2‚Äê3     6%
- 3+      17%

As the bins for both the index and mean mortality don't say which boundary is inclusive or exclusive, we will need to do a little determination of our own. 

Index --- Mean Mortality
- 0-1  [0%-3%]
- 1-2  (3%-6%]
- 2-3  (6%-17%]
- 3+   (17%+)

The confusion matrix was created in Excel and is located in the 'data' directory.

## Recreating MVDI Index

Using the data in the MVDI report, I will attempt to recreate the index using the available data. Some key points:

- We do not have the dataframe or a flat file we can import to ensure we have the correct data format. Our data was copied from PDF tables and assembled into our dataframe here.
- The standing forage biomass data was written in scientific notation in the report, meaning we may have a loss of data with our truncated numbers.
- The original model was created in R using the geeglm package. This is a general linear model. We can somewhat replicate this via the Linear Regression

In [37]:
%%html
<img src="assets/features.PNG",width=500>

In [38]:
df.head()

,aimag,year,temperature_anomaly,livestock_loss,index,pasture_use_anomaly,pasture_use,biomass_anomaly,biomass,zootechnical,mortality,fecundity,snowfall_anomaly
0,Arkhangai,1999,2.75,0.01,1.69,0.04,0.11,0.05,2.96,0,0,0,-3.80
1,Arkhangai,2000,-0.39,0.06,1.94,0.18,0.12,-0.13,2.44,0,0,0,4.57
2,Arkhangai,2001,-1.62,0.24,2.63,-0.02,0.10,-0.22,2.20,2,1,1,8.10
3,Arkhangai,2002,0.86,0.04,2.81,0.63,0.17,-0.57,1.22,0,0,0,5.44
4,Arkhangai,2003,-0.10,0.07,1.15,-0.25,0.08,-0.07,2.61,0,0,0,9.70

### Construct training dataframe.

Using the features from the report we can construct our dataframe. We have the 'index' values as created by the MVDI model. 

- The target variable is livestock_loss, which is expressed as a fraction of 1 (100%)

Here is the fit function as given by the report:
> gee.fit <- geeglm(Loss_rate_Y_100~Snowfall11_3_anomaly_Y*Forage_anomaly_Y_minus_1*Zootechnical_index_Y_minus_1+Temp11_2_anomaly_Y*Pasture_Use_Y_minus_1_anomaly*Zootechnical_index_Y_minus_1,
id=Aimag_code, waves= Year, data=Mortality_Mongolia_geepack, family=poisson, corstr=‚Äùexch‚Äù)

As such we can add the following features to our training dataframe:

- snowfall_anomaly (N)
- biomass_anomaly (N-1)
- zootechnical (N-1)
- temperature_anomaly (N)
- pasture_use_anomaly (N-1)
- livestock_loss (target variable)

In [47]:
train = df[['snowfall_anomaly','biomass_anomaly','zootechnical','temperature_anomaly','pasture_use_anomaly','livestock_loss']]

In [48]:
train.head()

,snowfall_anomaly,biomass_anomaly,zootechnical,temperature_anomaly,pasture_use_anomaly,livestock_loss
0,-3.80,0.05,0,2.75,0.04,0.01
1,4.57,-0.13,0,-0.39,0.18,0.06
2,8.10,-0.22,2,-1.62,-0.02,0.24
3,5.44,-0.57,0,0.86,0.63,0.04
4,9.70,-0.07,0,-0.10,-0.25,0.07

We can now shift the three features said to use year N-1. Then we can drop the extra features.

In [49]:
train = train[['biomass_anomaly','zootechnical','pasture_use_anomaly']].shift(periods=1).merge(train,left_index=True,right_index=True,suffixes=('_1', ''))

In [50]:
train.drop(columns=['biomass_anomaly','zootechnical','pasture_use_anomaly'],axis=1,inplace=True)

In [51]:
train.head()

,biomass_anomaly_1,zootechnical_1,pasture_use_anomaly_1,snowfall_anomaly,temperature_anomaly,livestock_loss
0,NaN,NaN,NaN,-3.80,2.75,0.01
1,0.05,0.0,0.04,4.57,-0.39,0.06
2,-0.13,0.0,0.18,8.10,-1.62,0.24
3,-0.22,2.0,-0.02,5.44,0.86,0.04
4,-0.57,0.0,0.63,9.70,-0.10,0.07

We will drop the NaN values as this row will not be able to be used in the training algorithm.

In [52]:
train.dropna(axis=0,inplace=True)

## Train GLM Algorithms

The model in the MVDI report is a GLM model (generalized linear model). A poisson distribution is specifically mentioned, so here we will attempt to use models that support this.

In [54]:
y = train['livestock_loss']
X = train.drop(columns=['livestock_loss'],axis=1)

In [56]:
from sklearn.linear_model import LinearRegression

reg = LinearRegression()
reg.fit(X, y)
reg.score(X, y)

0.3672824753845999

In [57]:
from sklearn import linear_model
ridge = linear_model.Ridge(alpha=.5)
ridge.fit(X, y) 
ridge.score(X, y)

0.36721851937298511

In [58]:
from sklearn import linear_model
lasso = linear_model.Lasso(alpha=0.1
lasso.fit(X, y)
lasso.score(X, y)

0.0

In [59]:
y

1      0.06
2      0.24
3      0.04
4      0.07
5      0.01
6      0.01
7      0.01
8      0.01
9      0.01
10     0.02
11     0.30
12     0.03
13     0.02
14     0.06
15     0.02
16     0.03
17     0.09
18     0.19
19     0.43
20     0.02
21     0.01
22     0.01
23     0.01
24     0.01
25     0.03
26     0.07
27     0.24
28     0.01
29     0.01
30     0.02
       ...
290    0.14
291    0.12
292    0.03
293    0.00
294    0.02
295    0.01
296    0.00
297    0.04
298    0.03
299    0.46
300    0.01
301    0.00
302    0.01
303    0.00
304    0.04
305    0.18
306    0.30
307    0.06
308    0.05
309    0.01
310    0.04
311    0.01
312    0.01
313    0.02
314    0.07
315    0.36
316    0.02
317    0.01
318    0.03
319    0.01
Name: livestock_loss, Length: 319, dtype: float64